@custom-selector :--enter :hover, :focus;

button {
  background-color: transparent;
  border: 2px solid MediumVioletRed;
  color: MediumVioletRed;
  cursor: pointer;
  display: table;
  padding: 1rem 1.5rem;
  transition: background-color 300ms cubic-bezier(0.39, 0.575, 0.565, 1), border 300ms cubic-bezier(0.39, 0.575, 0.565, 1), color 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:--enter {
    background-color: MediumVioletRed;
    color: WhiteSmoke;
  }
}

:global .invert {
  border-color: WhiteSmoke;
  color: WhiteSmoke;

  &:--enter {
    background-color: WhiteSmoke;
    color: MediumVioletRed;
  }
}

:global .primary {
  background-color: MediumVioletRed;
  border-color: transparent;
  color: WhiteSmoke;
  min-width: 5rem;

  &:--enter {
    background-color: transparent;
    color: MediumVioletRed;
  }
}

:global .secondary {
  border-color: transparent;
  border-bottom: 2px solid MediumVioletRed;
  padding: .5rem;

  &:--enter {
    border-color: MediumVioletRed;
  }
}

/* if button is in a group add some spacing*/
button + button {
  margin: 0 0 0 2rem;
}
