@custom-media --tiny (min-width: 480px);
@custom-media --small (min-width: 768px);
@custom-media --medium (min-width: 992px);
@custom-media --large (min-width: 1200px);

/* ==========================================================================
// Global layout helpers
========================================================================== */
:global .group {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
