@custom-media --tiny (min-width: 480px);
@custom-media --small (min-width: 768px);
@custom-media --medium (min-width: 992px);
@custom-media --large (min-width: 1200px);

:root {
  --ms-base: 1rem;
	--ms-ratio: 1.5;
  --ms6: 2.933rem;
  --ms5: 2.533rem;
  --ms4: 2rem;
  --ms3: 1.733rem;
  --ms2: 1.467rem;
  --ms1: 1.267rem;
  --ms0: 1rem;
  --msN1: 0.867rem;
  --msN2: 0.733rem;
}

/*==============================================================================
Modular Scale System
==============================================================================*/
html {
  font-size: 15px;

  @media (--small) {
    font-size: 17px;
  }

  @media (--medium) {
    font-size: 20px;
  }

  @media (--large) {
    font-size: 23px;
  }
}

body {
  background-color: WhiteSmoke;
  color: MediumVioletRed;
  font: normal 1rem/1.25 system-ui, sans-serif;
}


/*==============================================================================
Font Styles
==============================================================================*/

h1 {
  font-size: var(--ms6);
  margin: 0 0 var(--ms0);

  @media (min-width: 768px) {
    margin: 0;
  }
}

h2 {
  font-size: var(--ms3);
  margin: 0 0 var(--msN2);
}

p {
  font-size: var(--ms1);
  margin: 0 0 var(--ms0);
}

small {
  font-size: var(--ms0);
}

label {
  font-size: var(--ms1);
  font-weight: bold;
}

input {
  font-size: var(--ms1);
}

button {
  font-family: inherit;
  font-size: var(--ms0);
  font-weight: bold;
  line-height: 1;
}

/*==============================================================================
Helper Styles
==============================================================================*/

:global .sr-only {
  border: 0;
  clip-path: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
