@custom-selector :--enter :hover, :focus;

:root {
  --field: {
    background-color: transparent;
    border: 2px solid currentColor;
    color: inherit;
    margin: .5rem 0 1.5rem;
    padding:1rem;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::placeholder,
    &[value='']::-webkit-datetime-edit {
      color: color(#f5f5f5 alpha(50%));
    }

    &:--enter {
      background-color: WhiteSmoke;
      border-color: WhiteSmoke;
      color: MediumVioletRed;

      &::placeholder,
      &[value='']::-webkit-datetime-edit {
        color: color(#c71585 alpha(50%));
      }
    }

    &:invalid {
      border-color: currentColor;
      color: red;

      &::placeholder,
      &[value='']::-webkit-datetime-edit {
        color: currentColor;
      }
    }
  }
}

.root {
  align-items: center;
  background-color: #222222;
  color: WhiteSmoke;
  display: flex;
  flex: 1 0 100vh;
  justify-content: center;
  height: 110%;
  left: 0;
  opacity: 0;
  padding: 2rem;
  position: fixed;
  transform: translateZ(0) translateY(100vh);
  transition: opacity 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 100ms, transform 0ms cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
  top: 0;
  width: 100%;
  will-change: transform;

  & form {
    transform: translateZ(0) translateY(-15%);
    transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  &[data-active="true"] {
    opacity: 1;
    transform: translateZ(0) translateY(0);
    transition: opacity 200ms cubic-bezier(0.39, 0.575, 0.565, 1), transform 0ms cubic-bezier(0.39, 0.575, 0.565, 1);

    & form {
      transform: translateZ(0) translateY(0);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  width: 100%;
}

input {
  @apply --field;
}

select {
  @apply --field;
}
