.root {
  border: 2px solid currentColor;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 1rem 0;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.info {
  border-bottom: 2px solid MediumVioletRed;
  flex: 1 0 auto;
  padding: 1.5rem;

  @media (min-width: 768px) {
    border-bottom: none;
    border-right: 2px solid MediumVioletRed;
  }
}
