@custom-media --tiny (min-width: 480px);
@custom-media --small (min-width: 768px);
@custom-media --medium (min-width: 992px);
@custom-media --large (min-width: 1200px);

.root {
  composes: render from "../styles/animations.css";
  border: 2px solid currentColor;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
  will-change: transform;

  @media (--tiny) {
    flex-direction: row;
  }

  @media (--medium) {
    flex: 0 0 calc(50% - 1rem);
    flex-direction: column;

    &:nth-of-type(2n) {
      margin-left: 2rem;
    }
  }
}

.info {
  border-bottom: 2px solid MediumVioletRed;
  flex: 1 0 1rem;
  padding: 1rem;

  @media (--tiny) {
    border-bottom: none;
    border-right: 2px solid MediumVioletRed;
  }

  @media (--medium) {
    border-bottom: 2px solid MediumVioletRed;
    border-right: none;
  }
}
