.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 70rem;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 2rem;
  width: 100%;
}

.todos {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
