.root {
  background-color: WhiteSmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 2rem;
  width: 100%;
}

.todos {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.modal {
  align-items: center;
  display: flex;
  flex: 1 0 100vh;
  justify-content: center;;
}
